:root {
  --dark-green: #71873f;
  --mid-green: #688557;
  --lightest-green: #abbe99;
  --brick: #a36627;
  --brown: #9b7a4f;
  --tan: #e0b87e;
}

body {
  background-color: #e0b87e;
  padding: 5%;
}

#start-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

#start-card {
  margin: 25% auto;
  padding: 20px;
  width: 60%;
  opacity: 80%;
}

#harvest-button {
  width: 100%;
  cursor: pointer;
  user-select: none;
}

#harvest-button:active {
  transform: scale(1.05) translateY(-2px);
  filter: drop-shadow(0px 8px 3px rgba(0, 0, 0, 0.1));
}

.btn:active {
  transform: scale(1.02) translateY(-1px);
}

#play-area {
  border-right: 3px solid var(--mid-green);
  border-left: 3px solid var(--mid-green);
  border-top: 3px solid var(--mid-green);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

}

#orchard,
#farm {
  background-color: var(--brown);
  background-image: url(assets/cardboard.png);
  height: 30dvh;
}

.vertical-text,
.new-bees {
  writing-mode: vertical-lr;
  text-orientation: upright;
  line-height: 1.5em;
  text-wrap: wrap;
  max-height: 28dvh;
}

.bee-path {
  position: absolute;
  width: 27dvw;
}

marquee {
  height: 25dvh;
  font-size: .75em;
}

#upgrades-available {
  min-height: 10dvh;
  border-right: 3px solid var(--mid-green);
  border-left: 3px solid var(--mid-green);
  border-bottom: 3px solid var(--mid-green);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.inner-shadow {
  box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.text-mid-green {
  color: var(--mid-green);
}

.bg-lightest-green {
  background-color: var(--lightest-green);
}

.bg-mid-green {
  background-color: var(--mid-green);
}

.bg-tan {
  background-color: var(--tan);
}

/* Animation

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0)
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
} */